@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

/* customized animated hamburger menu icon */
.navbar-toggler {
  border: none;
  outline: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .navbar-toggler-icon {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all 0.2s;
}

.navbar-toggler .navbar-toggler-icon {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .navbar-toggler-icon + .navbar-toggler-icon {
  margin-top: 4px;
}

.navbar-toggler-icon:nth-child(2) {
  width: 16px;
  transition: ease all 0.2s;
}

.navbar-toggler:hover > .navbar-toggler-icon:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggler:active > .navbar-toggler-icon:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(2) {
  opacity: 0;
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all 0.2s;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: #000;
  background: #a6fff8;
}

::selection {
  color: #000;
  background: #a6fff8;
}

.logo {
  width: 250px;
  height: 100px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  color: cyan;
}

.green-circle {
  border: 1px solid cyan;
  border-radius: 3.125rem;
  height: 2.5rem;
  position: relative;
  width: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.common-questions.card {
  border: none;
  background-color: transparent;
}

.common-questions.card > .card-header {
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
}

.supported-provinces {
  list-style: none;
  margin-top: 24px;
}

.supported-provinces > li {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.square {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.supported {
  background-color: #6aaa4e;
}

.not-supported {
  background-color: #fefeeb;
}

a {
  text-decoration: none;
}

footer h4 {
  padding: 0.5rem 0;
}
