::-moz-selection {
	/* Code for Firefox */
	color: #000;
	background: #a6fff8;
}

::selection {
	color: #000;
	background: #a6fff8;
}

.logo {
	width: 250px;
	height: 100px;
}

.green-circle {
	border: 1px solid cyan;
	border-radius: 3.125rem;
	height: 2.5rem;
	position: relative;
	width: 2.5rem;
	align-items: center;
	display: flex;
	justify-content: center;
}

.common-questions.card {
	border: none;
	background-color: transparent;
}

.common-questions.card > .card-header {
	background-color: transparent;
	padding: 1rem;
	cursor: pointer;
}

strong {
	font-weight: bold;
}

footer a {
	text-decoration: none;
}

footer h4 {
	padding: 0.5rem 0;
}
