::-moz-selection {
	/* Code for Firefox */
	color: #000;
	background: #a6fff8;
}

::selection {
	color: #000;
	background: #a6fff8;
}

footer a {
	text-decoration: none;
}

footer h4 {
	padding: 0.5rem 0;
}
